/* 100% not copied from indexstyle.css
i know you can use one css file for multiple html files */

body {
    font-family: 'Roboto Mono', sans-serif;
    background-color: hsl(0, 0%, 35%);
}

.centre {
    text-align: center;
}

.superCentre {
    margin: 0px auto;
}

.ultraCentre {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.omegaCentre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buld {
    font-weight: 800;
}

.bold {
    font-weight: 650;
}

.bigg {
    font-size: 100px;
}

.big {
    font-size: 75px;
}

.kindaBig {
    font-size: 50px;
}

.kindaBiggish {
    font-size: 35px;
}

.small {
    font-size: 25px;
}

.iconBar {
    margin-top: 30px;
}

.iconBar img {
    height: 75px;
    width: auto;
    margin: 0px 10px;
}

.credit {
    font-size: 50px;
}

.credit span {
    font-size: 40px;
}

.credit p {
    font-size: 25px;
    margin-top: 10px;
    font-weight: 500;
}

.claustrophobic {
    margin-top: 50px;
}

a:link {
    color: #0000ff;
}

a:visited {
    color: hsl(299, 88%, 50%);
}

/* Old styles for unused files that still needed credits
fudge {
    display: block;
    opacity: 0.5;
    cursor: help;
} */

.copy {
    float: left;
}

.proud {
    display: inline;
    float: right;
}

#exit {
    /* i don't understand absolute positioning very well, i just messed around until something worked lmao */
    position: absolute;
    width: 40px;
    height: auto;
    right: 25px;
    cursor: pointer;
}

#popBG3 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    overflow: hidden;
}

#setPop3 {
    /* code to make the popup in the centre of your screen (center is spelt centre in britain :) */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* now just general styling */
    background-color: hsl(213, 46%, 40%);
    border: 10px solid #000;
    border-radius: 20px;
    font-size: 50px;
    text-align: center;
    width: 900px;
    height: 325px;
    padding: 25px;
    z-index: 2;
    opacity: 1;
    animation: boig 250ms;
    -webkit-animation: boig 250ms;
}

.popBarBtnCooler {
    background-color: hsl(286, 57%, 50%);
    font-size: 35px;
    width: 340px;
    height: 205px;
    border: 5px solid #000;
    border-radius: 15px;
    margin: 0px 15px;
    font-family: 'Roboto Mono', sans-serif;
    cursor: pointer;
    transition: filter 250ms;
}

.popBarBtnCooler:hover {
    filter: brightness(1.25);
}

/* credit to colon for the animation */
@keyframes boig {
    from {
        transform: scale(0) translate(-50%, -50%);
        transform-origin: left top;
    }

    75% {
        transform: scale(1.075) translate(-50%, -50%);
        transform-origin: left top;
    }

    to {
        transform: scale(1) translate(-50%, -50%);
        transform-origin: left top;
    }
  }